@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de venta de MotoRacing</h1>
    <p>Instituto Tecnológico de León 2024</a>.</p>
</div>
